BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left

PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4

IndentAccessModifiers: false
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2

AlignOperands: Align
AlignEscapedNewlines: LeftWithLastLine

BinPackParameters: false
AllowAllArgumentsOnNextLine: false
BreakAfterReturnType: All
BreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: None
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: false
  BeforeLambdaBody: false

RequiresClausePosition: WithPreceding
RequiresExpressionIndentation: OuterScope
IndentRequiresClause: true
LambdaBodyIndentation: OuterScope

SkipMacroDefinitionBody: true
