html[data-theme=light] {
    --function-link-color: #ad7c37;
}

html[data-theme=dark] {
    --function-link-color: #fdd687;
}

.bd-sidebar-primary {
    width: 250px;
}

.bd-article li.toctree-l1 > a {
    font-size: 150%;
    font-weight: bold;
}


dl.enumerator {
    margin-bottom: 0 !important;
}

dl.cpp dd {
    margin-left: 1rem !important;
}

.cpp .sig {
    font-size: 0.9rem;
    font-style: normal;
}

.sig-name {
    font-size: 0.9rem;
}

.cpp .function .sig-name {
    color: var(--function-link-color);
}

.cpp .function .k {
    font-weight: normal;
}

dl.cpp.var {
    margin-bottom: 0;
}

dl.cpp.type {
    margin-bottom: 0;
}
