.bd-sidebar-primary {
    width: 250px;
}

.bd-article li.toctree-l1 > a {
    font-size: 150%;
    font-weight: bold;
}


dl.enumerator {
    margin-bottom: 0 !important;
}


.cpp .function .k {
    font-style: italic;
    font-weight: normal;
}

dl.cpp.var {
    margin-bottom: 0;
};
