name: CXX Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  unit-tests:
    runs-on: macos-26

    steps:
    - name: Checkout source code
      id: checkout
      uses: actions/checkout@v4

    - name: Install third-party libraries and tools
      id: install_packages
      run: |
        brew install cmake curl openssl@3 ninja pipenv

    - name: Setup build environment
      id: setup_build
      run: |
        pipenv sync --dev
        pipenv scripts prepare

    - name: Detect build profile
      id: setup_profile
      run: >
        pipenv run
        conan profile detect

    - name: Build and test project
      id: build_project
      run: >
        pipenv run
        conan build
        --build=missing
        --settings build_type=Release
        --conf tools.build:skip_test=False
        --options build_executable=True
        --options use_system_libs=True
